/*! Widgets */

.widget{
    word-wrap: break-word;
}

.widget ol > li{
    list-style-position: inside;
    list-style-type: decimal;
    @include rem-fallback(padding-left, 2);
    @include rem-fallback(text-indent, -2);
}

.widget li li{
    border: none;
    @include rem-fallback(margin, 0, 0, 0, 3);
    padding: 0;
}

.widget_calendar table{
    width: 100%;
}

.widget_calendar{
    & td, th{
        text-align: center;
    }
}

/* Featured Content */

.featured-content .entry{
    border-bottom: 2px solid $test-color;
    @include rem-fallback(margin-bottom, 2);
    @include rem-fallback(padding, 0, 0, 2.4);
}

.footer-widgets .entry{
    border-bottom: 1px dotted $test-color;
}

.featured-content .entry-title{
    @include font-size($body-font-size + .4);
}
