/*! Plugins */

/* Genesis eNews Extended */

.enews-widget, .enews-widget .widget-title{
    color: $test-color;
}

.sidebar .widget.enews-widget{
    background-color: $test-color;
}

.enews-widget input, .enews-widget input:focus{
    border: 1px solid $test-color;
}

.enews-widget input{
    @include font-size($body-font-size);
    @include rem-fallback(margin-bottom, 1.6);
}

.enews-widget input[type="submit"]{
    background-color: $test-color;
    color: $test-color;
    margin: 0;
    width: 100%;
}

.enews-widget input:hover[type="submit"]{
    background-color: $test-color;
    color: $test-color;
}

.enews form + p{
    @include rem-fallback(margin-top, 2.4);
}

/* Jetpack */

#wpstats{
    display: none;
}